<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alumnohome</ion-title>
    </ion-toolbar>
  </ion-header>
  <img alt="Silhouette of mountains" src="\assets\img\2560px-Logo_DuocUC.svg.png" />
  <p> Bienvenidio a Duoc UC: {{ usuario.nombre }}</p>
  
  

  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ asignatura.codigo }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{ asignatura.profesor }} <br>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      
        <ion-button fill="clear">Notas</ion-button>
        <ion-button fill="clear">Asistencia</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>


  
  
  
  <ion-button (click)="startScan()" expand="block" fill="solid" shape="round">
    ESCANEAR
  </ion-button>

  <label> {{ lecturaQr }} </label>
</ion-content>